# South Lakeland District Council Business Rates

Full list of non-domestic properties in South Lakeland, Business Rates list showing the rateable value, any reliefs, annual charge and the properties occupied status.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('sldc.csv')

In [3]:
df.head()

,EffectiveDate,OrganisationNameLabel,OrganisationURI,ServiceCategoryLabel,ServiceCategoryURI,Licence,AccountName,PropertyName1,PropertyName2,PropertyAddress1,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,KACUZI LTD ...,THE CO-OPERATIVE TRAVEL,,KENTS BANK ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,NaN,GND FLR,,CROSS KEYS YARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,THE NATIONAL TRUST ...,HILL TOP (NATIONAL TRUST),,NEAR SAWREY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,LOW WOOD HOTEL (1958) LTD ...,LOW WOOD HOTEL,,AMBLESIDE ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,MR JOHN C JACKSON ...,,,11-13 UNION STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(8812, 40)

In [5]:
df.columns

Index(['EffectiveDate', 'OrganisationNameLabel', 'OrganisationURI',
       'ServiceCategoryLabel', 'ServiceCategoryURI', 'Licence', 'AccountName',
       'PropertyName1', 'PropertyName2', 'PropertyAddress1',
       'PropertyAddress2', 'PropertyAddress3', 'PropertyAddress4',
       'PropertyPostCode', 'CurrentRateableValue   ', 'MandatoryReliefAmount',
       'DiscretionaryReliefDAmount', 'TransitionalReliefAmount ',
       'TranstionalPremiumAmount ', 'SmallBusinessRatesReliefAmount',
       'NetLocalDiscountAmount ', 'RetailDiscount ', 'ChargedAmount', 'Empty',
       'EmptyFromDate               ', 'Exempt',
       'PropertyReference           ', 'DateLiableFrom              ',
       'RateablePropertyType',
       'ValuationOfficePropertyDescription                                      ',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

In [6]:
new_df=df.iloc[:,0:30]
new_df.head()

,EffectiveDate,OrganisationNameLabel,OrganisationURI,ServiceCategoryLabel,ServiceCategoryURI,Licence,AccountName,PropertyName1,PropertyName2,PropertyAddress1,...,NetLocalDiscountAmount,RetailDiscount,ChargedAmount,Empty,EmptyFromDate,Exempt,PropertyReference,DateLiableFrom,RateablePropertyType,ValuationOfficePropertyDescription
0,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,KACUZI LTD ...,THE CO-OPERATIVE TRAVEL,,KENTS BANK ROAD,...,-3493.0,Y,0.0,N,NaN,NaN,06210405121002,04/11/2016,,SHOP AND PREMISES ...
1,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,NaN,GND FLR,,CROSS KEYS YARD,...,0.0,NaN,0.0,N,NaN,NaN,03158057080015,01/06/2017,,Offices and Premises ...
2,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,THE NATIONAL TRUST ...,HILL TOP (NATIONAL TRUST),,NEAR SAWREY,...,-768.0,Y,0.0,N,NaN,NaN,07233596010005,01/04/2010,C,HISTORIC PROPERTY AND PREMISES ...
3,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,LOW WOOD HOTEL (1958) LTD ...,LOW WOOD HOTEL,,AMBLESIDE ROAD,...,-214016.0,Y,0.0,N,NaN,NaN,05070165500001,01/04/2010,C,HOTEL AND PREMISES ...
4,07/05/2020,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,MR JOHN C JACKSON ...,,,11-13 UNION STREET,...,-1896.2,Y,0.0,N,NaN,NaN,06322110110004,01/04/2010,C,SHOP AND PREMISES ...

In [7]:
new_df.shape

(8812, 30)

In [8]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8812 entries, 0 to 8811
Data columns (total 30 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   EffectiveDate                                                             8585 non-null   object
 1   OrganisationNameLabel                                                     8585 non-null   object
 2   OrganisationURI                                                           8585 non-null   object
 3   ServiceCategoryLabel                                                      8585 non-null   object
 4   ServiceCategoryURI                                                        8585 non-null   object
 5   Licence                                                                   8585 non-null   object
 6   AccountName                                                               4280 non-null   object
 7   PropertyName1                                                             8585 non-null   object
 8   PropertyName2                                                             8585 non-null   object
 9   PropertyAddress1                                                          8585 non-null   object
 10  PropertyAddress2                                                          8585 non-null   object
 11  PropertyAddress3                                                          8585 non-null   object
 12  PropertyAddress4                                                          8585 non-null   object
 13  PropertyPostCode                                                          8585 non-null   object
 14  CurrentRateableValue                                                      8585 non-null   float64
 15  MandatoryReliefAmount                                                     8585 non-null   float64
 16  DiscretionaryReliefDAmount                                                8585 non-null   float64
 17  TransitionalReliefAmount                                                  8585 non-null   float64
 18  TranstionalPremiumAmount                                                  8585 non-null   float64
 19  SmallBusinessRatesReliefAmount                                            8585 non-null   float64
 20  NetLocalDiscountAmount                                                    8585 non-null   float64
 21  RetailDiscount                                                            1896 non-null   object
 22  ChargedAmount                                                             8585 non-null   float64
 23  Empty                                                                     8585 non-null   object
 24  EmptyFromDate                                                             398 non-null    object
 25  Exempt                                                                    398 non-null    object
 26  PropertyReference                                                         8585 non-null   object
 27  DateLiableFrom                                                            8585 non-null   object
 28  RateablePropertyType                                                      8585 non-null   object
 29  ValuationOfficePropertyDescription                                        8585 non-null   object
dtypes: float64(8), object(22)
memory usage: 2.0+ MB

In [9]:
new_df['EffectiveDate'].value_counts()

07/05/2020    8585
Name: EffectiveDate, dtype: int64

In [10]:
new_df.iloc[:,27]=pd.to_datetime(new_df.iloc[:,27])
new_df.iloc[:,0]=pd.to_datetime(new_df.iloc[:,0])
new_df.iloc[:,24]=pd.to_datetime(new_df.iloc[:,24])
new_df.head()

,EffectiveDate,OrganisationNameLabel,OrganisationURI,ServiceCategoryLabel,ServiceCategoryURI,Licence,AccountName,PropertyName1,PropertyName2,PropertyAddress1,...,NetLocalDiscountAmount,RetailDiscount,ChargedAmount,Empty,EmptyFromDate,Exempt,PropertyReference,DateLiableFrom,RateablePropertyType,ValuationOfficePropertyDescription
0,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,KACUZI LTD ...,THE CO-OPERATIVE TRAVEL,,KENTS BANK ROAD,...,-3493.0,Y,0.0,N,NaT,NaN,06210405121002,2016-04-11,,SHOP AND PREMISES ...
1,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,NaN,GND FLR,,CROSS KEYS YARD,...,0.0,NaN,0.0,N,NaT,NaN,03158057080015,2017-01-06,,Offices and Premises ...
2,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,THE NATIONAL TRUST ...,HILL TOP (NATIONAL TRUST),,NEAR SAWREY,...,-768.0,Y,0.0,N,NaT,NaN,07233596010005,2010-01-04,C,HISTORIC PROPERTY AND PREMISES ...
3,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,LOW WOOD HOTEL (1958) LTD ...,LOW WOOD HOTEL,,AMBLESIDE ROAD,...,-214016.0,Y,0.0,N,NaT,NaN,05070165500001,2010-01-04,C,HOTEL AND PREMISES ...
4,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,MR JOHN C JACKSON ...,,,11-13 UNION STREET,...,-1896.2,Y,0.0,N,NaT,NaN,06322110110004,2010-01-04,C,SHOP AND PREMISES ...

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8812 entries, 0 to 8811
Data columns (total 30 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   EffectiveDate                                                             8585 non-null   datetime64[ns]
 1   OrganisationNameLabel                                                     8585 non-null   object
 2   OrganisationURI                                                           8585 non-null   object
 3   ServiceCategoryLabel                                                      8585 non-null   object
 4   ServiceCategoryURI                                                        8585 non-null   object
 5   Licence                                                                   8585 non-null   object
 6   AccountName                                                               4280 non-null   object
 7   PropertyName1                                                             8585 non-null   object
 8   PropertyName2                                                             8585 non-null   object
 9   PropertyAddress1                                                          8585 non-null   object
 10  PropertyAddress2                                                          8585 non-null   object
 11  PropertyAddress3                                                          8585 non-null   object
 12  PropertyAddress4                                                          8585 non-null   object
 13  PropertyPostCode                                                          8585 non-null   object
 14  CurrentRateableValue                                                      8585 non-null   float64
 15  MandatoryReliefAmount                                                     8585 non-null   float64
 16  DiscretionaryReliefDAmount                                                8585 non-null   float64
 17  TransitionalReliefAmount                                                  8585 non-null   float64
 18  TranstionalPremiumAmount                                                  8585 non-null   float64
 19  SmallBusinessRatesReliefAmount                                            8585 non-null   float64
 20  NetLocalDiscountAmount                                                    8585 non-null   float64
 21  RetailDiscount                                                            1896 non-null   object
 22  ChargedAmount                                                             8585 non-null   float64
 23  Empty                                                                     8585 non-null   object
 24  EmptyFromDate                                                             398 non-null    datetime64[ns]
 25  Exempt                                                                    398 non-null    object
 26  PropertyReference                                                         8585 non-null   object
 27  DateLiableFrom                                                            8585 non-null   datetime64[ns]
 28  RateablePropertyType                                                      8585 non-null   object
 29  ValuationOfficePropertyDescription                                        8585 non-null   object
dtypes: datetime64[ns](3), float64(8), object(19)
memory usage: 2.0+ MB

In [12]:
new_df.iloc[:,13].value_counts()

LA12 7LQ    86
LA9 4LR     79
LA9 4BH     55
LA9 6NZ     55
LA9 4HE     47
            ..
LA12 8LP     1
LA9 7HF      1
LA6 2QG      1
LA6 1NT      1
LA9 4SF      1
Name: PropertyPostCode, Length: 2195, dtype: int64

# Insight 1:
Top 4 localities:

LA12 7LQ    86

LA9 4LR     79

LA9 6NZ     55

LA9 4BH     55

In [13]:
new_df.iloc[:,29].value_counts()

SELF CATERING HOLIDAY UNIT AND PREMISES                         1943
SHOP AND PREMISES                                               1117
OFFICES AND PREMISES                                             635
WORKSHOP AND PREMISES                                            601
STORE AND PREMISES                                               287
                                                                ...
DINGHY PARK AND PREMISES                                           1
BIKE SHOWROOM AND PREMISES                                         1
AUCTION ROOMS AND PREMISES                                         1
COMMUNITY HALL AND PREMISES                                        1
KIOSK                                                              1
Name: ValuationOfficePropertyDescription                                      , Length: 631, dtype: int64

# Insight 2:
These are the top three types of properties:

-SELF CATERING HOLIDAY UNIT AND PREMISES(1943)

-SHOP AND PREMISES(1117)

-OFFICES AND PREMISES(635)

In [28]:
new_df['Year']=new_df.iloc[:,27].dt.year

In [29]:
new_df.head()

,EffectiveDate,OrganisationNameLabel,OrganisationURI,ServiceCategoryLabel,ServiceCategoryURI,Licence,AccountName,PropertyName1,PropertyName2,PropertyAddress1,...,RetailDiscount,ChargedAmount,Empty,EmptyFromDate,Exempt,PropertyReference,DateLiableFrom,RateablePropertyType,ValuationOfficePropertyDescription,Year
0,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,KACUZI LTD ...,THE CO-OPERATIVE TRAVEL,,KENTS BANK ROAD,...,Y,0.0,N,NaT,NaN,06210405121002,2016-04-11,,SHOP AND PREMISES ...,2016.0
1,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,NaN,GND FLR,,CROSS KEYS YARD,...,NaN,0.0,N,NaT,NaN,03158057080015,2017-01-06,,Offices and Premises ...,2017.0
2,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,THE NATIONAL TRUST ...,HILL TOP (NATIONAL TRUST),,NEAR SAWREY,...,Y,0.0,N,NaT,NaN,07233596010005,2010-01-04,C,HISTORIC PROPERTY AND PREMISES ...,2010.0
3,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,LOW WOOD HOTEL (1958) LTD ...,LOW WOOD HOTEL,,AMBLESIDE ROAD,...,Y,0.0,N,NaT,NaN,05070165500001,2010-01-04,C,HOTEL AND PREMISES ...,2010.0
4,2020-07-05,South Lakeland District Council,http://opendatacommunities.org/id/district-cou...,Business rates account enquiries,http://id.esd.org.uk/service/56,http://www.nationalarchives.gov.uk/doc/open-go...,MR JOHN C JACKSON ...,,,11-13 UNION STREET,...,Y,0.0,N,NaT,NaN,06322110110004,2010-01-04,C,SHOP AND PREMISES ...,2010.0

In [30]:
new_df['AccountName'].value_counts()

S L D C                                                             67
CUMBRIA COUNTY COUNCIL CLIENT   SERVICES                            64
THE NATIONAL TRUST                                                  44
UNITED UTILITIES WATER PLC                                          31
VODAFONE LTD                                                        26
                                                                    ..
THE BODY SHOP INTERNATIONAL LTD                                      1
CARPETRIGHT PLC                                                      1
THE JOINERY MILL LTD                                                 1
M E SAUNDERS & SONS LTD                                              1
STARS PUBS & BARS LTD                                                1
Name: AccountName, Length: 2878, dtype: int64

# Insight 3:
These are the top three account holders of the properties:

1. S L D C(67)
2. CUMBRIA COUNTY COUNCIL CLIENT SERVICES(64)                     
3. THE NATIONAL TRUST(44)

In [31]:
new_df['Year'].value_counts()

2010.0    3391
2017.0     851
2019.0     734
2018.0     734
2015.0     673
2016.0     580
2014.0     438
2013.0     342
2012.0     326
2011.0     318
2020.0     198
Name: Year, dtype: int64

# Insight 4:
1. 3391 properties are available from 2010.
2. 198 new properties are liable from 2020.

In [32]:
new_df['Empty'].value_counts()

N         8187
Y          398
Name: Empty, dtype: int64

# Insight 5:
There are 398 empty properties as of now.